<script src="/javascripts/formValidation.js"></script>
<script type="module" src="/javascripts/domHandler.js"></script>
<script type="module" src="/javascripts/messagesApi.js"></script>
<script type="module" src="/javascripts/homePage.js"></script>


<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <img src="/images/logoHome.png" width="100" alt="logo" class="me-1"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-3 me-2">
                <li class="nav-item">
                    <a class="btn nav-link me-2 fw-bold fs-5" href="/homePage" id="homeButton">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link me-2 fw-bold fs-5" href="/message/add" id="addMessageButton">Add Message</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" action="/homePage/logout" method="POST" style="display: inline;">
                        <button class="btn nav-link me-2 fw-bold fs-5" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>