.navbar {
  background-color: #f6f0bc;
}

.navbar-nav .nav-item .nav-link {
  color: #331a00 !important;
}

#customForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#customForm .field {
  text-align: center;
}